body{
  background-color:pink;
  font-family:arial; 
}
div{
  background-color:white; 
  padding:9px;
  margin:9px;
  border-style: solid;
  border-color: purple;
  width:25%;
  float:left;
  border-radius: 9px;
}
p{
  font-size: 15px;
  color: purple;
}
